**.xml.bz2
**.log
**.egg-info
**/__pycache__
**/.vscode
cached_data/*
build/*
logs/*
.snakemake/*
mediawiki_scrbunto_extension.zip
src/wikimeasurements/static_resources/unitConversionConfig.json
src/wikimeasurements/mediawiki_modules/*
!src/wikimeasurements/mediawiki_modules/convert.patch
!src/wikimeasurements/mediawiki_modules/mw_text.patch
workflow/output/*
workflow/input/*
workflow/intermediates/*
!workflow/intermediates/wikidata_cache
workflow/intermediates/wikidata_cache/*
!*.gitkeep
